<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBMasterConnectionString" value="Data Source=.\SQLEXPRESS;database=IOR_V1;User id=sa; Password=ide123$%^;" />
    <add key="DBConnectionString" value="Data Source=.\SQLEXPRESS;database=IOR_V1;User id=sa; Password=ide123$%^;" />
    <add key="MachineGroup" value="1" />
    <add key="Machine" value="1" />
    <add key="INPUT_KEY" value="6" />
    <add key="OFF_STATE" value="0"/>
    <add key="ON_STATE" value="1"/>
    <add key="SIMULATION" value="Yes" />
    <add key="IP" value="192.168.253.176" />
    <add key="PORT" value="9764" />
    <add key="LINE" value="9" />
  </appSettings>
<connectionStrings><add name="IOREntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=.\SQLEXPRESS;failover partner=RAM-SKH\SQLEXPRESS;attachdbfilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\IOR.mdf&quot;;initial catalog=IOR;user id=sa;password=ide123$%^;connect timeout=30;user instance=False;context connection=False;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /></connectionStrings></configuration>